.movies-list {
    list-style: none;
    padding: 0;
    
}

.movies-list__fallback {
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    margin: 1rem 0;
}